.dashboard {
    display: grid;
    place-items: center;
    flex-direction: column;
    overflow: scroll;
    color: white;
    z-index: 50;
    position: relative;
    flex: 1;
}

.layout {
    display: flex;
    flex-direction: column;
    gap: 4px;    

}